/* MOBILE VERSION */

body {
  box-sizing: border-box;
  background-color: #eeeeec;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.portfolio-body:nth-child(2n) {
  background-color: #e4e5e1;
}

/* HEADING */
.heading {
  background-image: url("./clark-van-der-beken-MQzSZ5BkjAg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 65vh;
  padding: 10%;
}

.heading-name {
  margin-top: 25%;
  font-size: 16px;
}

.profile-img {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  filter: grayscale(40%);
}

h1 {
  font-family: "Montserrat";
  font-size: 35px;
}

/* NAV BAR */
nav {
  display: flex;
  position: absolute;
  z-index: 3;
  margin: 10% 0 0 68%;
  text-decoration: none;
}

.icon {
  color: black;
  font-size: 30px;
  width: 40px;
}

/* SECTIONS */
.summary-section,
.tech-section {
  margin-top: 10px;
  padding: 5% 20%;
  text-align: center;
}

.divider-heading {
  background-color: #915b67;
  text-align: center;
  padding: 3px;
}

/* SUMMARY SECTION */
.line {
  border: 1px solid #915b67;
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: ##915b67;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
}

p,
li,
a {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

/* PROJECTS SECTION */
.container,
.other-projects-container,
.thougths-container {
  width: 320px;
  margin: 0 auto;
  text-decoration: none;
}

.portfolio-heading-container {
  display: flex;
  justify-content: center;
}

.portfolio-heading {
  background-color: #915b67;
  text-align: center;
  padding: 4px;
}

.image-container {
  position: relative;
}

/* OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(156, 166, 197, 0.5);
  transition: 0.5s ease;
}

.overlay:hover {
  background-color: transparent;
}

.overlay-text {
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 40%;
}

.overlay-text:hover {
  color: transparent;
}

.image {
  width: 100%;
  height: 260px;
  display: block;
}

/* FEATURED PROJECTS */
.featured-projects {
  color: black;
  text-decoration: none;
  text-align: center;
}

.project-name {
  color: #915b67;
}

.project-tools {
  background-color: #cce3e4;
}

article {
  margin-bottom: 15px;
}

/* OTHER PROJECTS */
.other-projects-container {
  margin-bottom: 15%;
}

.other-projects-header {
  color: #915b67;
}

.other-projects {
  color: black;
  text-decoration: none;
  text-align: left;
}

.arrow {
  color: #915b67;
}

h3 {
  color: #915b67;
  font-size: 20px;
  margin: 5px 0;
}

/* THOUGTHS SECTION */
.thoughts-image {
  width: 100%;
  height: 200px;
}

.thougths-container {
  padding-top: 5%;
}

.more-thoughts-container {
  padding-bottom: 10%;
  width: 320px;
  margin: 0 auto;
}

.sections-to-hide {
  display: none;
}

/* SKILL SECTION */
.skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
}

.skill-items {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

h4 {
  font-size: 17px;
  font-weight: bolder;
  color: #915b67;
}

/* FOR MORE SECTION */
.for-more-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 10%;
  margin-left: 13%;
}

.icon-link {
  text-decoration: none;
  color: black;
}

/* FOOTER */
footer {
  background-color: #abd1d2;
  text-align: center;
  font-size: 24px;
  text-align: center;
  padding: 80px 0px;
}

.contact-footer {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 6%;
}

.footer-links {
  text-decoration: none;
  color: black;
}

/* TABLET VERSION */

@media (min-width: 768px) {
  /* HEADER */
  .heading {
    min-height: 40vh;
    padding: 5%;
  }

  .heading-name {
    margin-top: 15%;
    font-size: 20px;
  }

  .profile-img {
    top: 70%;
    left: 60%;
    width: 160px;
    height: 160px;
  }

  .icon {
    font-size: 40px;
    width: 55px;
  }

  /* SECTIONS */
  .summary-section,
  .tech-section {
    padding: 5% 10%;
  }

  p,
  li,
  a {
    font-size: 25px;
    line-height: 30px;
  }

  /* PROJETCS */
  .container,
  .other-projects-container,
  .thougths-container {
    width: 520px;
  }

  article {
    margin-bottom: 45px;
  }

  .image {
    height: 360px;
  }

  .overlay-text {
    font-size: 35px;
    padding-top: 35%;
  }

  .project-tools {
    box-shadow: 1px 1px #86d7db;
  }

  /* OTHER PROJECTS */
  .other-projects-container {
    margin-bottom: 8%;
  }

  h3 {
    font-size: 25px;
  }

  /* THOUGHTS SECTION */
  .thoughts-image {
    width: 100%;
    height: 350px;
  }

  .more-thoughts-container {
    width: 520px;
  }

  .sections-to-hide {
    display: block;
  }

  /* FOOTER */
  footer {
    font-size: 30px;
    text-align: center;
    padding: 60px 0;
  }

  .contact-footer {
    font-size: 30px;
  }
}

/* DESKTOP VERSION */

@media (min-width: 1025px) {
  /* HEADER */
  .heading {
    padding: 7%;
  }

  .heading-name {
    margin-top: 5%;
    font-size: 28px;
  }

  .profile-img {
    top: 63%;
    left: 68%;
    width: 300px;
    height: 300px;
  }

  h1 {
    font-size: 60px;
    font-weight: bolder;
  }

  nav {
    margin: 5% 0 0 70%;
  }

  .icon {
    font-size: 60px;
    width: 90px;
  }

  /* SECTIONS */
  .summary-section,
  .tech-section {
    margin-top: 20px;
    padding: 5% 20%;
  }

  h2 {
    font-size: 35px;
  }

  p,
  li,
  a {
    font-size: 30px;
    line-height: 50px;
  }

  /* PROJECTS */
  .container,
  .other-projects-container,
  .thougths-container {
    width: 1100px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .image {
    width: 495px;
    height: 300px;
  }

  .overlay-text {
    padding-top: 25%;
  }

  article {
    margin-bottom: 15px;
    width: 45%;
  }

  h3 {
    font-size: 35px;
  }

  .project-tools {
    font-size: 22px;
    padding: 5px;
    box-shadow: 3px 3px #86d7db;
  }

  /* THOUGHTS SECTION */
  .thoughts-image {
    width: 100%;
    height: 256px;
  }

  .thougths-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }

  .more-thoughts-container {
    width: 1100px;
    margin-top: 2%;
  }

  .sections-to-hide {
    display: block;
  }

  /* SKILLS SECTION */
  .skill {
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .skill-items {
    text-align: center;
  }

  h4 {
    font-size: 35px;
  }

  /* FOR MORE SECTION */
  .for-more-section {
    margin: 5% 0 0 6%;
  }

  .contact-footer {
    font-size: 35px;
  }
}
