* {
  box-sizing: border-box;
}

body {
  background-color: #dbdcd7;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.heading {
  background-image: url("./annie-spratt-0ZPSX_mQ3xI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 10%;
}

.heading-name {
  margin-top: 25%;
  font-size: 16px;
}

.profile-img {
  position: absolute;
  top: 350px;
  left: 200px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  filter: grayscale(40%);
}

h1 {
  font-family: "Montserrat";
  font-size: 35px;
}

nav {
  display: flex;
  position: absolute;
  z-index: 3;
  margin: 10% 0 0 68%;
  text-decoration: none;
}

.icon {
  color: black;
  font-size: 30px;
  width: 40px;
}

.summary-section,
.tech-section {
  margin-top: 10px;
  padding: 5% 20%;
  text-align: center;
}

.line {
  border: 1px solid #abd1d2;
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #abd1d2;
  border-radius: 50%;
  display: inline-block;
}

h4 {
  font-size: 25px;
}

.divider-heading {
  background-color: #abd1d2;
  text-align: center;
  padding: 3px;
}

p,
li,
a {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: "Roboto";
}

.container,
.other-projects-container {
  width: 320px;
  margin: 0 auto;
  text-decoration: none;
}

.portfolio-heading-container {
  display: flex;
  justify-content: center;
}

.portfolio-heading {
  background-color: #abd1d2;
  text-align: center;
  padding: 3px;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(156, 166, 197, 0.5);
}

.image {
  width: 100%;
  display: block;
}

.featured-projects {
  color: black;
  text-decoration: none;
  text-align: center;
}

.project-name {
  color: #749391;
}

.project-tools {
  background-color: #abd1d2;
}

article {
  margin-bottom: 15px;
}

.other-projects-container {
  margin-bottom: 15%;
}

.other-projects {
  color: black;
  text-decoration: none;
  text-align: justify;
}

h6 {
  color: #749391;
  font-size: 20px;
  margin: 5px 0;
}

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
}

.skill-items {
  list-style-type: none;
  text-align: left;
}

h4 {
  font-size: 17px;
}

.for-more-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 15% 0 15% 6%;
}

.icon-link {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #749391;
  text-align: center;
  font-size: 24px;
  text-align: center;
  padding: 80px 0px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}
